h1, h2, h3, h4, h5 {
  color: #4aaaa5; }

.card-img-overlay.overlay-banner {
  top: unset;
  bottom: 15px;
  background-color: #4aaaa5;
  padding: 0.5rem; }

footer {
  border-top: #4aaaa5 4px solid; }
